@using Replay.Models.Account
@model Permission
@{
    ViewData["Title"] = "Berechtigung Bearbeiten";
    ViewData["Hero"] = "Berechtigungsbearbeitung";
}
<a class="btn btn-dark" asp-controller="Permission" asp-action="Index"><i class="bi bi-arrow-left-circle"></i> Zurück zur Übersicht</a>
<br>
<br>
<form asp-controller="Permission" asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-success">Speichern</button>
</form>
