@model Replay.ViewModels.Process.MakandraProcessEditViewModel

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        body {
            font-family: Roboto;
            font-weight: 300;
        }

        h1 {
            font-family: Roboto;
            font-weight: 700;
        }

        * {
            box-shadow: none !important;
        }

        .form-check-input:checked {
            background-color: rgb(20, 18, 16);
            border-color: rgb(20, 18, 16);
        }

        .form-check-input {
            border-radius: 0.25em;
        }

        #editbuttonelement {
            text-align: left;
        }

        #startbuttonelement {
            text-align: right;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        .alignright {
            text-align: right;
        }
    </style>
</head>

@{
    ViewData["Title"] = "Prozessbearbeitung";
    ViewData["Hero"] = "Prozess bearbeiten";
}

<a class="btn btn-dark" asp-controller="MakandraProcess" asp-action="Index"><i class="bi bi-arrow-left-circle"></i>
    Zurück zur Übersicht</a>
<br>
<br>
<form asp-controller="MakandraProcess" method="post" asp-action="Edit">
    <h3>Bezeichnung</h3>
    <hr>
    <div class="form-group">
        <input class="form-control" asp-for="Name" type="text" value="@Model.Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <br>
    <h3>Zugriffsrollen</h3>
    <hr>
    <div>
        <ul class="list-group">
            @for (int i = 0; i < Model.RoleSelection.Length; i++)
            {
                <li class="list-group-item">
                    <input type="hidden" asp-for="RoleSelection[i].Name" value="@Model.RoleSelection[i].Name">
                    <input type="hidden" asp-for="RoleSelection[i].Id" value="@Model.RoleSelection[i].Id">
                    @if (Model.RoleSelection[i].Name == "Administrator") 
                    {
                        <input class="form-check-input me-1" asp-for="RoleSelection[i].IsSelected" type="checkbox" id="RoleSelection[i].IsSelected" disabled>
                    } else {
                        <input class="form-check-input me-1" asp-for="RoleSelection[i].IsSelected" type="checkbox" id="RoleSelection[i].IsSelected">
                    }
                    <label for="RoleSelection[i].IsSelected" class="form-check-label">@Model.RoleSelection[i].Name</label>
                    <span asp-validation-for="RoleSelection[i].IsSelected" class="text-danger"></span>
                </li>
            }
        </ul>
    </div>
    <br>
    <h3>Aufgaben</h3>
    <hr>
    <label>Aufgaben können unter "Aufgabenvorlagen" erstellt, verwaltet und Prozessen zugeordnet werden.</label>
    <br>
    <br>
    <div class="form-group confirmbutton">
        <input type="submit" value="Speichern" class="btn btn-dark btn-lg">
    </div>
</form>
